span.task-dir {{assigned = selectById(users.items,task.assignedTo); '' }}
  .contractor 
    h2 Contractor
    | {{task.contractorName}}
  .title 
    h2 Task
    | {{task.title}}
  .address 
    h2 Address
    | {{task.address}}
    