node_modules/
bower_components/
data/
backup/
uploads/
logs/
.tmp/
build/
server/
!src/server
dist/
env.bat
env.sh
key.pem
cert.pem
data.zip
encrypt.bat
.yo-rc.json
pagckage-lock.json
docker-compose.yml
attachments/