.task-popup-dir(ng-show='!getHidden()')
  .popup
    .details
      .details-item
        label Task
        span {{getTask().title}}
      .details-item
        label From
        span {{getTask().date | date:'shortTime'}} - {{getDateTo() | date:'shortTime'}}
    .controls
      button.edit(ng-click='edit(getTask())') Edit
  .pointer