include ../../mixins/form.jade
.contractors-route 
  .space-between
    .left
      h1 {{ m('contractors-heading') }}
      button.button-green(ui-sref='contractor({_id:""})') 
        i.fas.fa-plus 
        | {{ m('contractors-button-new') }}
    .right  
      .search
        input(type='text', ng-model='search', placeholder='Search Cases', ng-change='page=1')
      .showing Showing {{filterData.length}} of {{contractors.items.length}} contractor{{totalProps!==1?'s':''}}
  .contractors
    .contractor(ng-repeat='contractor in filterData =(contractors.items | filter:search | orderBy:sort) | limitTo:limit:limit*(page-1)') 
      .contractor-heading(ui-sref='contractor({_id:contractor._id})', ng-class='{empty:!contractor.issues.total}')
        .name {{ contractor.name }}
        .no-issues
          .label Issues
          .number {{ contractor.issues.total }}
      button.button-alt(type='button', ng-click='contractor.showList=!contractor.showList', ng-show='contractor.issues.total')
        span(ng-show='contractor.showList') 
          i.fal.fa-eye-slash
          | Hide List
        span(ng-hide='contractor.showList')
          i.fal.fa-eye 
          | View List
      .issues(ng-show='contractor.showList')
        .issue(ng-repeat='issue in contractor.issues.items', ui-sref='issue({_id:issue._id})')
          .address {{ issue.address }}
          .title {{ issue.title }}
  .empty-table(ng-show='!filterData.length') {{ m('contractors-empty-table') }}
  pagination(ng-model='contractors.args.page', total='contractors.total', page-size='contractors.args.pageSize')