include ../../mixins/form.jade
.issue-route 
  .add-edit(ng-if='!issue.item._id || editing')
    h1(ng-show='!editing') {{ m('issue-heading-add') }}
    h1(ng-show='editing') {{ m('issue-heading-edit') }}
    +form({data:'issue'})
      .form-section
        .form-label {{ m('issue-label-source') }}
        .form-controls
          +select({name:'source', list:'sources', nolabel:true, errors:{required:true}})
      .form-section
        .form-label {{ m('issue-label-tenant') }}
        .form-controls
          .third
            +input({name:'tenantTitle', errors:{required:true}})
          .third
            +input({name:'tenantFirstName', errors:{required:true}})
          .third
            +input({name:'tenantLastName', errors:{required:true}})
          +input({name:'tenantPhone', errors:{required:true}})
          +input({name:'tenantEmail', type:'email', errors:{required:true,email:true}})
      .form-section
        .form-label {{ m('issue-label-address') }}
        .form-controls
          +input({name:'address1', errors:{required:true}})
          +input({name:'address2'})
          +input({name:'postcode', errors:{required:true}})
      .form-section
        .form-label {{ m('issue-label-title') }}
        .form-controls
          +input({name:'title', nolabel:true, errors:{required:true}})
      .form-section
        .form-label {{ m('issue-label-detail') }}
        .form-controls
          +textarea({name:'details'})
      .form-section
        .form-label
        .form-controls
          +controls()
  .issue-details(ng-if='issue.item._id && !editing')
    .space-between.issue-header
      .left
        h1 {{ m('issue-heading-issue') }}
        h2 {{ issue.item.address }} 
          span {{ issue.item.date | date:medium }}
      .right
        .cfpJobNumber(ng-show='issue.item.cfpJobNumber')
          .label {{ m('issue-heading-cfp') }} -
          .number {{ issue.item.cfpJobNumber }}
    +form({data:'issue'}).form-controls
      .form-section
        .form-label
          .source
            .source-icon(class='{{issue.item.source}}') {{ issue.item.source }}
        .form-controls.space-between.issue-controls
          .right
            span(ng-click='$parent.showLightbox(issue.item.media)')
              i.fad.fa-camera-retro
            span(ng-click='$parent.editing=true', ng-hide='editing', ng-class='{disabled:issue.item.completed}')
              i.fad.fa-edit
      .form-section
        .form-label 
          strong {{ m('issue-heading-tenant-contact') }}
          p {{ issue.item.tenantFirstName }} {{ issue.item.tenantLastName }}
          p {{ issue.item.tenantEmail }}
          p {{ issue.item.tenantPhone }}
        .form-controls
          .title
            strong {{ m('issue-heading-issue-title') }}
            span &nbsp;- {{ issue.item.title }}
          .details
            strong {{ m('issue-heading-fault-detail') }}
            span &nbsp;- {{ issue.item.details }}
      .form-section
        .form-label {{ m('issue-heading-action-taken') }}
        .form-controls
          .third
            +select({name:'repliedToTenant', list:'yesno', disabled:'issue.item.completed', errors:{required:true}}) 
          .third
            +select({name:'landlordInformed', list:'yesno', disabled:'issue.item.completed',errors:{required:true}})
          .third
            +select({name:'contractorArranged', list:'yesno', disabled:'issue.item.completed',errors:{required:true}})
      .form-section(ng-show='!issue.item.completed')
        .form-label {{ m('issue-heading-contractor-assigned') }}
        .form-controls
          .two-thirds
            +select({name:'booked', list:'contractors.items', errors:{required:true}})
          .third.delete-book
            button.button-alt(type='button', ng-click='deleteIssue(issue)') 
              i.fal.fa-trash-alt
              | {{ m('forms-delete') }}
            button.button-green(type='submit', value='{{ m("forms-book") }}', ng-hide='issue.item.booked || issue.item.completed')
              i.fal.fa-ballot-check
              | Book
      .form-section(ng-show='issue.item.cfpJobNumber && issue.item.booked && !issue.item.completed')
        .form-label {{ m('issue-heading-chase') }}
        .form-controls
          .buttons
            button.button-alt(type='button', ng-click='chaseContractor("email", issue)') 
              i.fal.fa-at
              | {{ m('issue-label-email') }}
            button.button-grey(type='button', ng-click='chaseContractor("sms", issue)') 
              i.fal.fa-sms
              | {{ m('issue-label-sms') }}
      .form-section(ng-show='issue.item.cfpJobNumber && issue.item.booked && !issue.item.completed')
        .form-label {{ m('issue-heading-inform') }}
        .form-controls
          .buttons
            button.button-alt(type='button', ng-click='informTenant("email", issue)') 
              i.fal.fa-at
              | {{ m('issue-label-email-tenant') }}
            button.button-grey(type='button', ng-click='informTenant("sms", issue)') 
              i.fal.fa-sms
              | {{ m('issue-label-sms-tenant') }}
      .form-section(ng-show='issue.item.cfpJobNumber && issue.item.booked && !issue.item.completed')
        .form-label {{ m('issue-heading-complete') }}
        .form-controls
          .buttons
            button.button-green(type='button', ng-click='completeIssue(issue)') 
              i.fal.fa-check
              | {{ m('issue-label-complete') }}
      .case-notes
        h2.orange {{ m('issue-heading-notes') }}
        .case-note(ng-repeat='note in notesData = ( issue.item.notes | orderBy:"-date" ) | limitTo:notesLimit:notesLimit*(notesPage-1)')
          .date {{note.date | date:medium}}, {{note.date | date:'shortTime'}} | 
            img(gravatar-src='note.user.local.email')  
            span {{note.user.displayName || note.user.local.email}}
            a.delete(href='', ng-click='deleteNote(note)', ng-show='auth.checkRoles(["admin", "superadmin"])') {{ m('forms-delete') }}
            a.edit(href='', ng-click='editNote(note)', ng-show='auth.checkRoles(["admin","superadmin"])') {{ m('forms-edit') }}
          .note 
            .details
              span(ng-show='note.side') - {{note.side}}
              .note-body(ng-bind-html='note.text | markdown:true')
      pagination.pagination-sm.pagination(total='notesData.length', ng-model='notesPage', page-size='notesLimit')
      .add-note
          code-mirror(ng-model='$parent.note.text', options='{mode:markdown, lineWrapping:true}')
          button(type='button', ng-click='addNote()') 
            .fal.fa-plus
            | {{note.date?'Update':'Add'}} Note