.setup.route
  h1 Setup
  .row
    .email-templates
      h2 Email templates
      .email-template(ng-repeat='template in emailTemplates.items')
        a.name(ui-sref="template({id:template._id,type:'email'})") {{template.name}}
        .delete
          a(href='', ng-click='emailTemplates.delete(template)')
            i.far.fa-times-circle(aria-hidden='true')
      div
        a.add-email-template.button-green(ui-sref="template({id:'new',type:'email'})") 
          i.fas.fa-plus 
          | Add email template
    .sms-templates
      h2 Sms templates
      .sms-template(ng-repeat='template in smsTemplates.items')
        a.name(ui-sref="template({id:template._id,type:'sms'})") {{template.name}}
        .delete
          a(href='', ng-click='smsTemplates.delete(template)')
            i.far.fa-times-circle(aria-hidden='true')
      div
        a.add-sms-template(ui-sref="template({id:'new',type:'sms'})") 
          i.fas.fa-plus 
          | Add sms template
  .users
    h2 Users
    .row
      .users
        .user(ng-repeat='user in myusers = (users.items | filter:"!superadmin" | filter:"!cors")') 
          img(gravatar-src='user.local.email') 
          span {{user.displayName || user.local.email}}
          .delete(ng-click='deleteUser(user)') Delete
      .add-user
        h3 Invite user
        form(name='addUserForm', ng-submit='addUser()')
          .row
            input(type='email', ng-model='newUser.local.email', placeholder='Email address')
            select(ng-model='newUser.role')
              option(value='agency', selected) Agency
              option(value='admin') Admin
          input(type='submit', value='Invite')
        .invite-error {{inviteError}}
        .invite-url(ng-show='inviteUrl')
          p An email has been sent or you can copy and paste the url below
          .row
            input(type='text', ng-model='inviteUrl')
            button(ng-click='copyInviteToClipboard()') Copy
  .update-statuses
    button(ng-click='updateStatuses()') Update statuses
    