.header-dir
  .container
    .branding
      a.logo(href="/")
        img.logo(src="public/img/VitalSpaceLogo-2016.svg")
    menu.main-menu
    .user.mobile-hide
      a.username(ui-sref='profile') {{auth.getUser().displayName || auth.getUser().local.email}} 
      |  
      a(href='/api/logout', target='_self') 
        img.logo(src="public/img/icons/logout.svg")
      span.mobile-menu(ng-click='mobileMenuOut=!mobileMenuOut;$event.stopPropagation()')
        i.fal.fa-bars