include ../../mixins/form.jade
.historic-route.route 
  .space-between
    .left
      h1 {{ m('historic-heading') }}
    .right
      .search
        input(type='text', ng-model='mysearch.$like', placeholder='Search Cases', ng-change='page=1')
      .showing Showing {{historic.items.length}} of {{historic.total}} issue{{historic.total!==1?'s':''}}
  table.issue-table(ng-show='historic.items.length > 0')
    thead
      tr
        th(width='20%', ng-click='sort.set("date")', ng-class='sort.class("date")') {{ m('historic-heading-date') }}
        th(width='30%', ng-click='sort.set("address")', ng-class='sort.class("address")') {{ m('historic-heading-address') }}
        th(width='15%', ng-click='sort.set("tenant")', ng-class='sort.class("tenant")') {{ m('historic-heading-tenant') }}
        th(width='15%', ng-click='sort.set("contractor")', ng-class='sort.class("contractor")') {{ m('historic-heading-contractor') }}
        th(width='10%', ng-click='sort.set("status")', ng-class='sort.class("status")') {{ m('historic-heading-status') }}
        th(width='5%') {{ m('historic-heading-view') }}
        th(width='5%') {{ m('historic-heading-restore') }}
    tbody(ng-repeat='issue in historic.items')
      tr
        td.date {{ issue.date | date:medium }}
        td.address {{ issue.address }}
          i.fad.fa-camera-retro(ng-show='issue.media.length')
        td.tenant {{ issue.tenant }}
        td.contractor {{ dbItem.get('contractors', issue.booked) }}
        td.status(ng-class='issue.status')
          .booked 
            .fad.fa-file-medical
          .completed
            .fad.fa-file-check
          .invoiced
            .fad.fa-thumbs-up
        td.view-button
          button.button-alt(type='button', ui-sref='issue({_id:issue._id})') 
            .fal.fa-eye
            | View Issue
        td.restore
          button.button-grey(type='button', ng-click='restoreIssue(issue)', ng-show='issue.deleted || issue.completed')
            .fal.fa-undo-alt
            | Restore Issue
  .empty-table(ng-show='!historic.items.length') {{ m('historic-empty-table') }}
  pagination(ng-model='historic.args.page', total='historic.total', page-size='historic.args.pageSize')