include ../../mixins/form.jade
.landlord-route.route
  h1 {{ m('landlord-heading') }}
  +form({data:'landlord'})
    .form-section
      +input({name:'name'})
      +input({name:'phone'})
      +input({name:'email',type:'email'})
    +controls()