include ../../mixins/form.jade
.landlords-route.route
  .space-between
    .left
      h1 {{ m('landlords-heading') }}
      button.button-green(ui-sref='landlord({_id:""})') 
        i.fas.fa-plus 
        | {{ m('landlords-button-new') }}
    .right  
      .search
        input(type='text', ng-model='mysearch.$like', placeholder='Search Cases', ng-change='page=1')
      .showing Showing {{filterData.length}} of {{landlords.total}} landlord{{totalProps!==1?'s':''}}
  .landlords
    .landlord(ng-repeat='landlord in filterData =(landlords.items | orderBy:sort) | limitTo:limit:limit*(page-1)') 
      .landlord-heading(ui-sref='landlord({_id:landlord._id})', ng-class='{empty:!landlord.addresses.length}')
        .name {{ landlord.name }}
        .no-issues
          .label Properties
          .number {{ landlord.addresses.length }}
      button.button-alt(type='button', ng-click='landlord.showList=!landlord.showList', ng-show='landlord.addresses.length')
        span(ng-show='landlord.showList') 
          i.fal.fa-eye-slash
          | Hide List
        span(ng-hide='landlord.showList')
          i.fal.fa-eye 
          | View List
      button.button-grey(type='button', ng-click='deletelandlord(landlord)', ng-if='auth.isAuthorized(["superadmin", "admin"])') 
        i.fal.fa-trash-alt
        | Delete
      .addresses(ng-show='landlord.showList')
        .address(ng-repeat='address in landlord.addresses')
          .title {{ address }}
  .empty-table(ng-show='!filterData.length') {{ m('landlords-empty-table') }}
  pagination(ng-model='landlords.args.page', total='landlords.total', page-size='landlords.args.pageSize')
  .addresses(ng-if='addresses.length')
    .address(ng-repeat='address in addresses') {{ address }}