.login-dir(ng-hide='auth.loggedIn() || auth.loading()')
  .login-holder
    .login-form
      h2 Log in or Sign up
      form(name='loginForm', novalidate, ng-submit='login()', ignore='true')
        div.inputs
          input(type='email', name='email', required, ng-model='email', placeholder='Email address')
          span.error(ng-show='submitted && loginForm.email.$error.email') Please use a valid email address
          span.error(ng-show='submitted && loginForm.email.$error.required') Please use a valid email address
          input(type='password', name='password', required, ng-model='password', placeholder='Password')
          small.error(ng-show='submitted && loginForm.password.$error.required') A password is required
        .error {{message}}
        div.buttons
          input.button(type='submit', value='Login')
        .forgot-pass
          a(ui-sref='forgot') Forgot your password?
