.diary-route.route-full
  .toolbar
    .back
      a(ui-sref='issue({_id:issue.item._id})') Back
    .issue
      .name 
        input#onlyThisIssue(type='checkbox', ng-model='onlyThisIssue', ng-change='filterTasks()')
        label(for='onlyThisIssue') {{issue.item.address}}
      .title {{issue.item.title}}
    .contractors
      label Contractors
      .input-holder
        select(sumoselect="{placeholder:'All contractors', search:true}", ng-model='selectedContractors', name='contractors', ng-change='filterTasks()', multiple=true)
          option(ng-repeat='contractor in contractors.items', value="{{contractor._id}}") {{ contractor.name }}
    .dates
      date-swiper(config='{prefix:"toolbar", modifier:1.5, show:true}')
  calendar
  task-popup
    