.menu-dir
  ul
    li(ng-show='auth.isAuthorized("dashboard")')
      a(ui-sref='dashboard', ng-class='{selected:state("dashboard")}') {{ m('menu-dashboard') }}
    li(ng-show='auth.isAuthorized("issues")')
      a(ui-sref='issues', ng-class='{selected:state(["issues"])}') {{ m('menu-issues') }}
    li(ng-show='auth.isAuthorized("worksorders")')
      a(ui-sref='worksorders', ng-class='{selected:state(["worksorders", "works-orders"])}') {{ m('menu-works-orders') }}
    li(ng-show='auth.isAuthorized("contractors")')
      a(ui-sref='contractors', ng-class='{selected:state(["contractors", "contractor"])}') {{ m('menu-contractors') }}
    li(ng-show='auth.isAuthorized("issue")')
      a(ui-sref='issue({_id:null})', ng-class='{selected:state(["issue", "issue"])}') {{ m('menu-issue') }}
    li(ng-show='auth.isAuthorized("historic")')
      a(ui-sref='historic', ng-class='{selected:state(["historic", "historic"])}') {{ m('menu-historic') }}
    li(ng-show='auth.isAuthorized("setup")')
      a(ui-sref='setup', ng-class='{selected:state(["setup"])}') {{ m('menu-setup') }}