include ../../mixins/form.jade
.works-route 
  .space-between
    .left
      h1 {{ m('works-heading') }}
    .right
      .search
        input(type='text', ng-model='mysearch.$like', placeholder='Search Cases', ng-change='page=1')
      .showing Showing {{issues.items.length}} of {{issues.total}} lead{{issues.total!==1?'s':''}}
  table.issue-table(ng-show='issues.items.length > 0')
    thead
      tr
        th(width='15%', ng-click='sort.set("date")', ng-class='sort.class("date")') {{ m('works-heading-date') }}
        th(width='30%', ng-click='sort.set("address")', ng-class='sort.class("address")') {{ m('works-heading-address') }}
        th(width='30%', ng-click='sort.set("tenant")', ng-class='sort.class("tenant")') {{ m('works-heading-tenant') }}
        th(width='20%', ng-click='sort.set("contractor")', ng-class='sort.class("contractor")') {{ m('works-heading-contractor') }}
        th(width='5%') {{ m('works-heading-options') }}
    tbody(ng-repeat='issue in issues.items')
      tr
        td.date {{ issue.date | date:medium }}
        td.address {{ issue.address }}
        td.tenant {{ issue.tenant }}
        td.contractor {{ dbItem.get('contractors', issue.booked) }}
        td.options
          button(ui-sref='issue({_id:issue._id})') View
  .empty-table(ng-show='!issues.items.length') {{ m('works-empty-table') }}
  pagination(ng-model='issues.args.page', total='issues.total', page-size='issues.args.pageSize')