.modal.issue-delete.small
  h1 {{ m('modal-issue-delete-title') }}
  h2 {{ m('modal-issue-delete-text') }}
  form(name='myForm', ng-submit='submit()')
    .controls
      label  
      button.button-alt(type='submit', value='OK')
        i.fal.fa-trash-alt
        | OK
      button.button-grey(type='button', ng-click='cancel()') 
        i.fal.fa-times
        | Cancel
  //a.close-reveal-modal(ng-click='cancel()') &times;