doctype strict
html
  head
    base(href='/')
    meta(charset='utf-8')
    title Vitalspace Maintenance Leads
    meta(name='description', content='vitalspace maintenance leads')
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    script(src='https://kit.fontawesome.com/83a64cab08.js', crossorigin='anonymous' integrity='sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG')
    link(rel='stylesheet', href='public/humane.css')
    link(rel="apple-touch-icon", sizes="180x180", href="public/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="public/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="public/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="public/favicon/manifest.json")
    link(rel="mask-icon", href="public/favicon/safari-pinned-tab.svg", color="#5bbad5")
  body(ng-app='vs-maintenance-leads', ng-click='bodyTap($event)')
    .page
      header
      menu.mobile-menu(ng-show='mobileMenuOut')
      login 
      .holder(ng-class='{"mobile-menu-out":mobileMenuOut}')
        .body
          .view(ui-view='')
      footer
    date-swiper(config='{prefix:"swiper", modifier:1.5, show:false}')
    task-popup